@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans')

// Define colors
//ibm-blue = hsl(218, 100%, 50%)
//ibm-gray = hsl(0, 0%, 22%)
//ibm-light-gray = hsl(0, 0%, 90%)
//ibm-red = hsl(356, 78%, 53%)
//ibm-green = hsl(162, 67%, 43%)
//
//// Define font family
//ibm-font = 'IBM Plex Sans', sans-serif

// Define typography
//h1, h2, h3, h4, h5, h6
//  font-family ibm-font
//  font-weight bold
//  color ibm-gray

// Define buttons


// Define menu styles

