//nav
//  font-weight bold
//  background ibm-light-gray
////
//  .right-menu
//    text-align right
//
//  .pure-menu-heading
//    font-family ibm-font
//    font-size 18px
//    font-weight bold
//    padding 10px 20px
//
//  .pure-menu-list
//    .pure-menu-item
//      display inline-block
//
//      .pure-menu-link
//        display block
//        padding 10px 20px
