//bg_color = hsl(0, 0%, 100%)
//text_color = hsl(0, 0%, 20%)
//link_color = hsl(226, 100%, 50%)
//code_block_bg_color = hsl(0, 0%, 85%)
ibm-blue = hsl(218, 100%, 50%)
ibm-gray = hsl(0, 0%, 22%)
ibm-light-gray = hsl(0, 0%, 90%)
ibm-red = hsl(356, 78%, 53%)
ibm-green = hsl(162, 67%, 43%)
ibm-font = 'IBM Plex Sans', sans-serif