---
layout: layouts/base.njk
---
{{ content | safe }}

<div class="bx--grid">
    <div class="bx--row">
            {% for page in collections.question %}
                <div class="bx--col-sm-2 bx--col-md-2 bx--col-lg-2 bx--col-max-2">
                    <bx-link href="{{ page.url | url }}"> {{ page.data.title }} </bx-link>
                </div>
            {%- endfor %}
    </div>
</div>