---
layout: layouts/base.njk
---
{{ content | safe }}

<div class="pure-g">
    {% set pages = collections.question %}
    {% for page in pages %}
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5 question-list">
            <a href="{{ page.url}}"> {{ page.data.title }} </a>
        </div>
    {%- endfor %}
</div>