<footer>
    <p>&copy; {{ utilities.copyrightYear() }} - <a href="https://www.linkedin.com/in/andre-a-alves">{{ site.meta.author }}</a></p>
    <p>This page is hosted on <a href="https://github.com/andre-a-alves/qiskit-sample-test-answers">Github</a> where it is available via the <a href="https://github.com/andre-a-alves/qiskit-sample-test-answers/blob/master/LICENSE">GPL3</a> license. Contributions are welcome.</p>
</footer>