{% set question = false %}
{% for tag in tags %}
    {% if tag === "question" %}{% set question = true %}{% endif %}
{% endfor %}

<footer class="bx--footer" id="site-footer">
    <div class="bx--footer__info">
        <div class="bx--grid">
            {% if question %}
                <div class="bx--row">
                    <div class="bx--footer-info__item bx--col-sm-4 bx--col-md-8 bx--col-lg-16">
                        The question on this page comes from the sample test provided by <bx-link href="https://www.ibm.com">IBM</bx-link> for their IBM Certified Associate Developer - Quantum Computation using Qiskit v0.2x exam, which can be found <bx-link href="https://www.ibm.com/training/certification/C0010300">here</bx-link>.
                        This website is not affiliated with IBM.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bx--footer__bottom">&copy; {{ utilities.copyrightYear() }} - <bx-link href="https://www.andre-a-alves.com">{{ site.meta.author }}</bx-link></div>
</footer>