<nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
            <a href="#" class="pure-menu-link">{{ site.meta.title }}</a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Questions</a>
            <ul class="pure-menu-children">
                {% set pages = collections.question %}
                {% for page in pages %}
                    <li class="pure-menu-item">
                        <a href="{{ page.url}}" class="pure-menu-link">{{ page.data.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </li>
    </ul>
</nav>