<bx-header aria-label="IBM Platform Name">
    <bx-header-menu-button
            button-label-active="Close menu"
            button-label-inactive="Open menu"
    ></bx-header-menu-button>
    <bx-header-name href="{{ '/' | url }}" prefix="Qiskit">Sample Test Answers</bx-header-name>
</bx-header>

<bx-side-nav aria-label="Side navigation">
    <bx-side-nav-items>
        <bx-side-nav-menu title="Official Sample Questions">
            {% for page in collections.question %}
                <bx-side-nav-menu-item href="{{ page.url | url }}">
                    {{ page.data.title }}
                </bx-side-nav-menu-item>
            {%- endfor %}
        </bx-side-nav-menu>
        <bx-side-nav-divider></bx-side-nav-divider>
        <bx-side-nav-link href="https://qiskit.org/">Qiskit</bx-side-nav-link>
        <bx-side-nav-link href="https://qiskit.org/learn/">Qiskit Textbook</bx-side-nav-link>
        <bx-side-nav-link href="https://quantum-computing.ibm.com">IBM Quantum</bx-side-nav-link>
        <bx-side-nav-divider></bx-side-nav-divider>
        <bx-side-nav-link href="{{ '/about/' | url }}">About This Page</bx-side-nav-link>
        <bx-side-nav-link href="https://github.com/andre-a-alves/qiskit-sample-test-answers">Github Repo</bx-side-nav-link>
        <bx-side-nav-link href="https://github.com/andre-a-alves/qiskit-sample-test-answers/blob/master/CONTRIBUTING.md">Contribute</bx-side-nav-link>
    </bx-side-nav-items>
</bx-side-nav>